@model Medics.Models.Incoming.IncomingViewModel
@{
    ViewData["Title"] = "Incoming Detail";
}

<div class="body">

    @if (Model is not null)
    {
         <dl class="row">
              <dt class="col-sm-4">
                   Incoming Detail:
              </dt>

              <dd class="col-sm-8">
                @Model.SupplierName
              </dd>

              <dt class="col-sm-4">
                   ItemName:
              </dt>

              <dd class="col-sm-8">
                @Model.InvoiceNo
              </dd>
              <dd class="col-sm-8">
                @Model.Quantity
              </dd>
              <dd class="col-sm-8">
                @Model.SupplyDate
              </dd>
         </dl>
         <br />
         <div class="btn-group">
              <a asp-controller="Incoming" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success">Update</a>
              &nbsp;
              <form asp-action="DeleteIncoming" asp-route-id="@Model.Id">
                   <button type="submit" class="btn btn-danger">Delete</button>
              </form>
              &nbsp;
              <a asp-controller="Incoming" asp-action="Index" class="btn btn-outline-secondary">Go back to list</a>
         </div>
    }
</div>
