@model Medics.Models.Outgoing.OutgoingViewModel
@{
    ViewData["Title"] = "Outgoing Detail";
}

<div class="body">

    @if (Model is not null)
    {
         <dl class="row">
              <dt class="col-sm-4">
                   Outgoing Detail:
              </dt>

              <dd class="col-sm-8">
                @Model.Name
              </dd>

              <dt class="col-sm-4">
                   ItemName:
              </dt>

              <dd class="col-sm-8">
                @Model.Purpose
              </dd>
              <dd class="col-sm-8">
                @Model.Quantity
              </dd>
              <dd class="col-sm-8">
                @Model.DeliveredTo
              </dd>
              <dd class="col-sm-8">
                @Model.Sale
              </dd>
              
         </dl>
         <br />
         <div class="btn-group">
              <a asp-controller="Outgoing" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success">Update</a>
              &nbsp;
              <form asp-action="DeleteOutgoing" asp-route-id="@Model.Id">
                   <button type="submit" class="btn btn-danger">Delete</button>
              </form>
              &nbsp;
              <a asp-controller="Outgoing" asp-action="Index" class="btn btn-outline-secondary">Go back to list</a>
         </div>
    }
</div>
