@model List<Medics.Models.Outgoing.OutgoingViewModel>

@{
    ViewData["Title"] = "Outgoing List";
    int count = 1;
}

@await Html.PartialAsync("_ListAlert", Model)

@if (Model is not null)
{
    <table class="table">
         <thead>
              <tr>
                   <th scope="col">#</th>
                @if (User.IsInRole("Admin"))
                {
                       <th scope="col">Username</th>
                }
                   <th scope="col">Incoming</th>
                   <th scope="col">Action</th>
              </tr>
         </thead>

         <tbody>
            @foreach (var item in Model)
            {
                  <tr>
                       <td scope="row">@count</td>
                    @if (User.IsInRole("Admin"))
                    {
                           <td scope="row">@item.Item</td>
                           <td scope="row">@item.Name</td>

                    }
                       <td scope="row">@item.Name</td>
                       <td scope="row">@item.DeliveredTo</td>
                       <td scope="row">@item.Purpose</td>
                       <td scope="row">@item.Quantity</td>
                       <td scope="row">@item.Sale</td>

                       <td scope="row">
                        @item.Quantity
                            <div class="btn-group">
                                 <a asp-controller="Outgoing" asp-action="GetOutgoingDetail" asp-route-id="@item.Id" class="btn btn-info btn-sm text-white">View Outgoing Drug</a>

                            </div>
                       </td>
                  </tr>
                count++;
            }
         </tbody>
    </table>
}