@model List<Medics.Models.Outgoing.OutgoingViewModel>
@{
    ViewData["Title"] = "Outgoing Drug List";
    int count = 1;
}

<div>
     <a asp-controller="Outgoing" asp-action="CreateOutgoing" class="btn btn-outline-primary">Add New Outgoing Item</a>
</div>

@await Html.PartialAsync("_ListAlert", Model)

@if (Model is not null)
{
    <table class="table">
         <thead>
              <tr>
                   <th scope="col">S/N</th>
                   <th scope="col">Item</th>     
                   <th scope="col">Drug</th>
                   <th scope="col">DeliveredTo</th>
                   <th scope="col">Quantity</th>
                   <th scope="col">Purpose</th>
                   <th scope="col">Sale</th>
                   <th scope="col">Action</th>
                   <th scope="col"></th>

              </tr>
         </thead>
         <tbody>
            @foreach (var item in Model)
            {
                  <tr>
                       <td scope="row">@count</td>
                       <td>@item.Item</td>
                       <td>@item.Drug</td>
                       <td>@item.DeliveredTo</td>
                       <td>@item.Quantity</td>
                       <td>@item.Purpose</td>
                       <td>@item.Sale</td>
                       <td>
                            <div class="btn-group">
                                 <a asp-controller="Outgoing" asp-action="GetOutgoingDetail" asp-route-id="@item.Id" class="btn btn-primary">View Outgoing Items</a>
                            </div>
                       </td>
                  </tr>
                count++;
            }
         </tbody>
    </table>
}
