@model Medics.Models.Drug.DrugViewModel

@{
    ViewData["Title"] = "Drug Detail";
}

<div class="body">

   @* @if (Model is not null)
    {
         <div class="card">

              

              <div class="card-header">

                   <h5>
                    @Model.DrugName
                   </h5>

                    <div>
                       <a asp-controller="Drug" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i>
                       </a>

                   <form asp-controller="Drug" asp-action="DeleteDrug" asp-route-id="@Model.Id" method="post" class="del-btn">
                            <button type="submit" class="btn btn-danger btn-sm">
                                 <i class="fas fa-trash"></i>
                            </button>
                       </form>
                </div>
              </div>

              <div class="card-body">


                   <div>
                        <a asp-controller="Drug" asp-action="Index" class="btn btn-secondary">
                             Back to list
                        </a>
                   </div>

              </div>
        </div>
    }*@

     <div class="body">

        @if (Model is not null)
        {
              <dl class="row">
                   <dt class="col-sm-4">
                        Drug Name:
                   </dt>

                   <dd class="col-sm-8">
                    @Model.Drugs
                   </dd>

                   <dt class="col-sm-4">
                        Description:
                   </dt>

                   <dd class="col-sm-8">
                    @Model.Description
                   </dd>
              </dl>
              <br />
              <div class="btn-group">
                   <a asp-controller="Drug" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success">Update</a>
                   &nbsp;
                   <form asp-action="DeleteDrug" asp-route-id="@Model.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                   </form>
                   &nbsp;
                   <a asp-controller="Drug" asp-action="Index" class="btn btn-outline-secondary">Go back to list</a>
              </div>
        }
     </div>

</div>






